.container {
    font-size: 30px !important;
    width: 100%;


}

.bg-dark {
    align-items: center;

}


nav .navbar-brand {
    color:rgb(144, 144, 163);
    align-items: center;
    margin-right: -25%;
    font-size: larger;


}