.container {
    font-size: 30px !important;
    width: 100%;


}

.bg-dark {
    align-items: center;

}


nav .navbar-brand {
    align-items: center;
    margin-right: -19%;
    font-size: larger;


}