/* #root {
  max-width: 1280px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0;
 
} */

.here{
  margin-left: -90%;


}

img.imgM {
  margin-left: 15%;
  margin-top: 10%;
  background-attachment: fixed;
  position: fixed;
 

}

body {
  margin: 0%;
  padding: auto;
  background-image: url(https://media.giphy.com/media/i3EiSibYDhfnNVCcFD/giphy-downsized-large.gif);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: right;
  height: 150%;
  width: 150%;
  background-color: rgb(210, 196, 2);
}







